body{
    font-family: Arial, sans-serif;
    color: rgb(58, 0, 0);
}
table {
    max-width: 45%;
    margin: auto;
    border-collapse: collapse;
}
caption {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 15px;
}
thead{
    font-size: 25px;
}
th, td {
    padding: 5px;
    text-align: center;
}
td{
    background-color: lightgrey;
}
tr:nth-child(even) td {
  background-color: white;
  border-bottom: 0.5px black solid;
  border-top: 0.5px black solid; 
}